*.pyc
*.sqlite3
# *.db
# *~
# .*
# *.py.bak

/venv/
/.idea/
/.pytest_cache/
# /site/
# /htmlcov/
# /coverage/
# /build/
# /dist/
# /*.egg-info/
# MANIFEST
# coverage.*

# !.github
# !.gitignore
# !.pre-commit-config.yaml
